@media (max-width: 750px) {
  div.archivio , div.addvoce , div.filter_temi , div.optuser{margin-top:40px;}
}



body{
	
	margin-bottom:80px;
		
	}
 div.velo{
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: #000;
     opacity: 0.5;
     z-index: 999;
     display: none;   
        
        }
        
    div.dettaglio{
    position: absolute;
    width: 250px;
    height:  90px;    
    background-color: #fff;
    z-index: 9999;
    border-radius: 5px;
    display: none;
    padding: 20px;
	color:#000;
    box-shadow: 0px 0px 2px 2px #DCDCDC inset , 3px 3px 8px 2px #333333;
        
        
        }
div.dettaglio button{float: right; width: 60px; }
.table-responsive{overflow-x: auto;}

div.box_img_pf{
    position: relative;
    width: 173px;
    height: 175px;
   
    
}

div.box_img_pf > button{
position: absolute;
right: 0px;
bottom: 0px;
display: none;   
}

div.box_img_pf:hover > button{display: block;}

    input#upload {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}
p.nb{font-size: 10px;font-weight: bold;}
input#Password{display:none;}
p#view_pass{
	cursor:pointer;
	margin-top:5px;
}
p#view_pass:hover{
	text-decoration:underline;
}



ul.pager > li > a {background: #ADD8E6 !important; color:#68838B !important;}
ul.pager > li > a:hover{color:#2F4F4F !important; }
a.radius{
	border-radius:10px;
}

a.not-active , a.not-active:hover{
cursor: not-allowed;
color: grey !important;
text-decoration:none;	
}

span.attivo{
	color:#ffffff;
	
    
	
}

textarea#htmlArea{display:none;}

div.info{
	background:#6397D0;
	margin-top:-20px;
	color:#ffffff !important;
	
}

img#img-load{
	position:absolute;
	margin-left:-22px;
	display:none;
}

div.remove{display:none;}
i.red{color:red;}
i.green{color:green;}


em.showpw{cursor:pointer;}
em.showpw:hover{cursor:pointer;text-decoration:underline;}
em.hidepw{display:none;}

div.footer {
background: rgba(50,0,0,0.3);
position:fixed;
bottom:0px;
width:100%;
height:auto;
left:0px;

}

img.anteprima{
width:180px;
height:auto;	
	
	
}

a#active_th , a#noactive_th{width:50px;font-size:9px;}



